/**** BASE SYTLES ****/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

#portfolio, #about, #contact {
    height: 450px;
}

/**** GRID ****/

.full-width {
    width: 100%;
    padding-left: 10px;
    float: clear;
}

.half-width {
    width: 45%;
    float: left;
    padding-left: 10px;
}

.third-width {
    width: 33%;
    float: left;
    padding-left: 10px;
}

/**** HEADER ****/

header {
    height: 55px;
    background-color: #1f202b;
}

header h2 {   
    color: white;    
}

header p {
    color: white;
    height: 125px;
    margin-top: 75px;
    font-size: 40px;    
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: lowercase;
    color: white;
    padding-left: 30px
}


/*** MAIN ***/

#cover-image {
    margin-top: -55px;
    background-image: url(../img/hero-background.png);
    background-size: cover;
    height: 350px;
      
}

#cover-image p {
    padding-top: 85px;
    color: white;  
    font-size: 55px;
}

#cover-image p span {
    color: red;
}

#portfolio h2 {
    text-align: center;
}

