/**** BASE SYTLES ****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;    
}

#portfolio, #portfolio-2, #about, #contact, #about-me {
    height: 420px;
}

/**** GRID ****/

.full-width {
    width: 100%;
    padding-left: 10px;
    float: clear;
}

.half-width {
    width: 45%;
    float: left;
    padding-left: 10px;
}

.third-width {
    width: 33%;
    float: left;
    padding-left: 10px;
}

/**** HEADER ****/

header {
    font-family: 'Montserrat', sans-serif;
    height: 55px;
    background-color: #1f202b;
}

header h2 {   
    color: white;    
}

header p {
    color: white;
    height: 125px;
    margin-top: 75px;
    font-size: 40px;    
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
    color: white;
    padding-left: 30px
}


/*** MAIN ***/
main {
    background-color: #1f202b;
    color: white;
}
#cover-image {
    margin-top: -55px;
    background-image: url(../img/hero-background.png);
    background-size: cover;
    height: 350px;      
}

#cover-image p {
    padding-top: 85px;
    color: white;  
    font-size: 55px;
}

#cover-image p span {
    color: #fa0075;
}

#portfolio {
    margin-top: 25px;
}

#portfolio h2 {
    text-align: center;
    color: #fa0075;
}

#about-me {
    float: left;
    background-image: url(../img/about-me.png);
    background-size: cover;
    height: 100%;
    color: #1f202b;
}

#about-me h2 {
    text-align: center;
    color: #fa0075;
}



